n8n_post_x/workflow_post_x.json
{
  "name": "workflow_post_x",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "groqApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama-3.3-70b-versatile"
            },
            {
              "name": "messages",
              "value": "={{ [\n  { \n    \"role\": \"system\", \n    \"content\": \"Você é um dev influencer no Twitter. Sua tarefa muda a cada vez.\\n\\nOBJETIVO ATUAL: \" + ($json.subType === 'joke' ? 'Conte uma PIADA curta, irônica ou situação engraçada sobre vida de programador (bugs, café, deploy, gerentes). Seja engraçado.' : $json.subType === 'fact' ? 'Conte uma CURIOSIDADE técnica ou histórica fascinante e pouco conhecida sobre computação. (Ex: Ada Lovelace, Doom rodando em tudo, primeiro bug).' : 'Faça uma PERGUNTA engajadora e curta para devs responderem. Algo polêmico ou sobre rotina.') + \"\\n\\nEstilo: Natural, humano, curto. Máximo 150 caracteres. SEM HASHTAGS.\" \n  },\n  { \n    \"role\": \"user\", \n    \"content\": \"Gere o tweet agora seguindo o objetivo.\" \n  }\n] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e002f57c-a32e-4393-8226-16241cc85c98",
      "name": "IA: Criar Interação",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        528,
        320
      ],
      "credentials": {
        "groqApi": {
          "id": "GHA0aVTmBwMNZPKW",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.choices[0].message.content }}",
        "additionalFields": {}
      },
      "id": "cc8e316b-8cfb-4378-a013-8e9e1a97439a",
      "name": "Postar Interação",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        752,
        320
      ],
      "credentials": {
        "twitterOAuth2Api": {
          "id": "B0JTPNPRSE9mCcRR",
          "name": "X account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "f82ea847-fe7f-4b25-8b2c-bf831606e6da",
      "name": "A cada 2h1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -192,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "// CONFIGURAÇÃO\nconst feeds = [\n  'https://www.tabnews.com.br/recentes/rss',\n  'https://dev.to/feed',\n  'https://techcrunch.com/feed/'\n];\n\n// 1. DECIDE: É NOTÍCIA OU INTERAÇÃO? (60% Interação)\nconst isInteractive = Math.random() < 0.6;\n//const isInteractive = false; //para testes\n\nif (isInteractive) {\n  // 2. SE FOR INTERAÇÃO, QUAL TIPO? (Sorteio Igualitário)\n  const types = ['question', 'joke', 'fact'];\n  const selectedType = types[Math.floor(Math.random() * types.length)];\n  \n  return [{ json: { mode: 'interactive', subType: selectedType, feedUrl: '' } }];\n} else {\n  // É NOTÍCIA\n  const randomFeed = feeds[Math.floor(Math.random() * feeds.length)];\n  return [{ json: { mode: 'news', subType: 'news', feedUrl: randomFeed } }];\n}"
      },
      "id": "0429130f-9856-4514-a294-1d666853ad67",
      "name": "Cérebro (Decisor)1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        144
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "401ef841-f3d6-4d28-aa4b-925892551848",
              "leftValue": "={{ $json.mode }}",
              "rightValue": "news",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "593bb0bc-c505-4f33-9396-61558a841f4f",
      "name": "É Notícia?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        256,
        144
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Cérebro (Decisor)1').item.json.feedUrl }}",
        "options": {}
      },
      "id": "bc5c6614-8aec-4d67-acd0-2ed0a7dbbd9f",
      "name": "Ler RSS Aleatório1",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        528,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Lógica Anti-Repetição\nconst staticData = $getWorkflowStaticData('global');\nconst lastPostId = staticData.lastPostId;\nconst latestItem = $input.first().json;\n\nif (latestItem.guid === lastPostId || latestItem.link === lastPostId) {\n  return []; \n}\n\nstaticData.lastPostId = latestItem.guid || latestItem.link;\nreturn [ { json: latestItem } ];"
      },
      "id": "f28927ff-161d-4410-86ca-cce84d0fb985",
      "name": "Filtrar Repetidos1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "groqApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama-3.3-70b-versatile"
            },
            {
              "name": "messages",
              "value": "={{ [\n  { \"role\": \"system\", \"content\": \"Você é um dev sênior irônico e inteligente no Twitter. Resuma a notícia para devs. Max 200 chars. Use 1 hashtag.\" },\n  { \"role\": \"user\", \"content\": $json.title + \" - \" + $json.contentSnippet }\n] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cc347513-9cf6-4af2-a092-a96c39682a1a",
      "name": "IA: Resumir Notícia1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        976,
        0
      ],
      "credentials": {
        "groqApi": {
          "id": "GHA0aVTmBwMNZPKW",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.choices[0].message.content }}\n\n{{ $('Filtrar Repetidos1').item.json.link }}",
        "additionalFields": {}
      },
      "id": "cd3e4666-334e-4296-ae50-4d8e402a219b",
      "name": "Postar News (+Link)1",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        1200,
        0
      ],
      "credentials": {
        "twitterOAuth2Api": {
          "id": "B0JTPNPRSE9mCcRR",
          "name": "X account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "IA: Criar Interação": {
      "main": [
        [
          {
            "node": "Postar Interação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A cada 2h1": {
      "main": [
        [
          {
            "node": "Cérebro (Decisor)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cérebro (Decisor)1": {
      "main": [
        [
          {
            "node": "É Notícia?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Notícia?1": {
      "main": [
        [
          {
            "node": "Ler RSS Aleatório1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IA: Criar Interação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ler RSS Aleatório1": {
      "main": [
        [
          {
            "node": "Filtrar Repetidos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Repetidos1": {
      "main": [
        [
          {
            "node": "IA: Resumir Notícia1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA: Resumir Notícia1": {
      "main": [
        [
          {
            "node": "Postar News (+Link)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "1182825b-2373-4f87-904b-6bdabcb28103",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cba6dcf642e028a3250aade88cdd6112def31f2da25704d33cdd069708d40eb1"
  },
  "id": "waumkzddqWFkLNeK3hbc3",
  "tags": []
}
